@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --Cyan: hsl(179, 62%, 43%);
  --lightCyan: hsl(179, 47%, 52%);
  --BrightYellow: hsl(71, 73%, 54%);

  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
}

body {
  width: 100vw;
  background-color: var(--LightGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

main {
  background-color: #fff;
  width: 90%;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px hsla(218, 22%, 67%, 30%);
  overflow: hidden;
}

section {
  padding: 20px;
}

.join h1 {
  font-size: 22px;
  color: var(--Cyan);
  margin-bottom: 20px;
}

.join h4 {
  font-size: 17px;
  color: var(--BrightYellow);
  margin-bottom: 20px;
}

.join p {
  color: var(--GrayishBlue);
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 10px;
}

.subscribtion {
  background-color: var(--Cyan);
  color: #fff;
}

.subscribtion h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.amount {
  display: flex;
  align-items: center;
  color: #ffffff8e;
}

.price {
  font-weight: 700;
  font-size: 35px;
  margin-right: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.subscribtion p {
  font-weight: 400;
  margin-bottom: 20px;
  color: #ffffffd3;
}

.signUpBtn {
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 20px 0px;
  color: #fff;
  background-color: var(--BrightYellow);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.signUpBtn:active {
  transform: scale(0.98);
}

.whyUs {
  background-color: var(--lightCyan);
  color: #fff;
}

.whyUs h3 {
  font-size: 20px;
  margin: 10px 0px;
}

.whyUs ul {
  list-style: none;
  padding: 0;
  color: #ffffffd3;
  margin: 25px 0px;
}

.whyUs ul li {
  padding: 3px;
}

footer {
  position: absolute;
  width: 90%;
  bottom: 20px;
}

footer p {
  font-size: 12px;
  text-align: center;
}
footer p a {
  font-size: 13px;
  text-decoration: none;
  color: var(--Cyan);
}
@media (min-width: 600px) {
  body {
    height: 100vh;
    justify-content: center;
  }
  main {
    max-width: 600px;
  }

  section {
    padding: 30px;
  }

  .bottom {
    display: flex;
  }
  .subscribtion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subscribtion h2 {
    margin-top: 10px;
  }
  .subscribtion p {
    margin-top: 10px;
  }
  .signUpBtn {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .signUpBtn:focus {
    outline: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  }
  .signUpBtn:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  }

  .whyUs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .whyUs ul {
    margin: 10px;
  }
}
